<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car {{ .plate }}</title>
</head>
<body>
<a href="/">Home</a>
<h1>Car {{.plate}}</h1>
<h2>
    Is Authorized:
    {{ if .authorized }}
    <b>Yes</b>
    {{ else }}
    <i>No</i>
    {{ end }}
</h2>
<h2>Description:</h2>
<p>
    {{ if .description }}
    {{ .description }}
    {{ else }}
    <i>No description</i>
    {{ end }}
</p>
<a href="/car/{{ .carId }}/vignette">Check Vignette</a>
<h2>Recent recognitions:</h2>
<ul>
    {{ range .recognitions }}
    <li>
        <p>
            Recognized at: {{ formatDT .CreatedAt }}
            <a href="/recognition/{{.ID}}">See details</a>
        </p>
    </li>
    {{ else }}
    <li>No recent recognitions</li>
    {{ end }}
</ul>
<div style="display: flex;flex-flow: row;justify-content: center;gap: 1rem">
    {{ range $i := (seq .pages) }}
    <a href="/car/{{ $.carId }}/?page={{ $i }}">{{ $i }}</a>
    {{ end }}
</div>
</body>
</html>
