{{ define "index" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head" }}
        <script src="https://unpkg.com/htmx-ext-ws@2.0.2"></script>
        <title>ALPR Dashboard</title>
    </head>
    <body>

    <h2>Create new recognition event:</h2>
    <form hx-post="/recognition/" hx-target="#recognition-event-result" hx-on:htmx:after-request="this.reset()">
        <label>
            License Plate
            <input type="text" name="plate" placeholder="1A29876">
        </label>
        <button type="submit">Create</button>
    </form>
    <div id="recognition-event-result">
        <p>|</p>
    </div>

    <h2>Live event:</h2>
    <div hx-ext="ws" ws-connect="/ws" id="recognition-notifications">
        <i>None</i>
    </div>

    <h2>Recent recognitions:</h2>
    <div hx-get="/recognition/?page=1" hx-trigger="load, recognition-event-created from:body" hx-target="#recognitions" id="recognitions">
        Loading ...
    </div>

    </body>
    </html>
{{ end }}
