{{ define "recognition/event" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head" }}
        <title>Recognition Event</title>
    </head>
    <body>

    <a href="/">Home</a>

    <h1>Recognition from {{ formatDT .recognized }}</h1>
    <h2>
        Linked Car:
        {{ if .car }}
            <a href="/car/{{ .car.ID }}">{{ .car.Plate }}</a>
        {{ else }}
            <i>None</i>
        {{ end }}
    </h2>

    <form hx-get="/recognition/{{ .id }}/upload" hx-target="this" hx-swap="outerHTML">
        <input type="submit" value="Upload new photo">
    </form>

    <h2>Photos:</h2>
    <ul>
        {{ range .photos }}
            <li>
                <img src="{{ . }}" alt="maybe car license plate" style="max-width: 100%">
            </li>
        {{ end }}
    </ul>

    </body>
    </html>
{{ end }}
